<p id="notice"><%= notice %></p>

<h1>Listing Paids</h1>

<table>
  <thead>
    <tr>
      <th>Pay</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @paids.each do |paid| %>
      <tr>
        <td><%= paid.pay %></td>
        <td><%= link_to 'Show', paid %></td>
        <td><%= link_to 'Edit', edit_paid_path(paid) %></td>
        <td><%= link_to 'Destroy', paid, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Paid', new_paid_path %>
